
.is-SK0528JP{ 
  background-color: #007a75;
}

.is-egger{ 
  /* background-color: #45ada5; */
  background-color: #3c7974;
}

.is-aAa{ 
  /* background-color: #45ada5; */
  background-color: #404d62ff;
}

.is-Huri{
  background-color: #009900;
}