.footer {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  margin-top: var(--header-height);
  padding: calc(var(--frame-height) - 5px)  var(--frame-height);
}

.footer-body {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  padding: 1rem;
}

.footer-content{
  display: flex;
  padding-top: 1rem;
}

.footer-line{
  height: 1px;
  background-color: currentColor;
  width: calc(var(--column-width) * 12);
}

.footer-link-title{
  font-size: 1rem;
  font-weight: bold;
}

.footer-link a{
  font-size: 1rem;
}