.loading{
  width: 100vw;
  height: calc(100 * var(--vh));
  position: fixed;
  background-color: var(--main-bg);
  z-index: 1;
}

.loading-text{
  font-size: 2rem;
  font-family: 'PlusJakartaSans';
}