
body{
  background-color: var(--main-bg);
}

* {
  color: var(--main-color);
  font-family: 'IBMPlexMono';
}

@font-face {
  font-family: 'PlusJakartaSans';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url('../font/PlusJakartaSans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'DotGothic16';
  font-weight: 400;
  src: url('../font/DotGothic16-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'IBMPlexMono';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url('../font/IBMPlexMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Array';
  font-weight: 400;
  src: url('../font/Array-Regular.woff2') format('woff2');
}

@media(min-width:400px){.mobile{display: none !important;}}
@media(max-width:400px){.desktop{display: none !important;}}

:root{
  ---main-font--size: .75rem;
  --column-width: 0;
}

a{
  text-decoration: none;
  font-size: var(---main-font--size);
  line-height: 1.3;
  cursor: pointer;
  transition: 200ms;
}

a:hover{
  color: #555;
}

.container {
  flex-grow: 1;
  margin: 0;
  position: relative;
  width: 100%;
  max-width: 1000px!important;
}

/* .dot::after{
  content: "";
  width: 0.5rem;
  aspect-ratio: 1/1;
  display: inline-block;
  border-radius: 100%;
  background-color: currentColor;
} */

.members{
  margin-top: 1rem;
  display: grid;
}

.member-open{
  margin: 0;
  line-height: 1.1;
}

.section {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  padding: 0 calc(1rem + var(--frame-height));
  &.is-fullheight{ height: calc(100 * var(--vh)); }
}

.section-body {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.links{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-size: var(---main-font--size);
  line-height: 1;
  margin-top: 1.2rem;
}

.title {
  font-size: 3.1rem;
  line-height: 1; 
  font-family: 'PlusJakartaSans';
}

p{
  font-size: var(---main-font--size);
}