
body{
  background-color: var(--main-bg);
}

* {
  color: var(--main-color);
  font-family: 'Satoshi','NotoSansJP';
}

@font-face {
  font-family: 'PlusJakartaSans';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url('../font/PlusJakartaSans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Satoshi';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url('../font/Main/Satoshi.woff2') format('woff2');
}

@font-face {
  font-family: 'NotoSansJP';
  font-weight: 400;
  src: url('../font/Main/NotoSansJP.woff2') format('woff2');
}

/* スマホ */
@media only screen and (max-width: 400px) {
  .tablet{display: none !important;}
  .desktop{display: none !important;}
}

/* タブレット */
@media only screen and (min-width: 401px) and (max-width: 1000px) {
  .mobile{display: none !important;}
  .desktop{display: none !important;}
}

/* デスクトップ */
@media only screen and (min-width: 1001px) {
  .mobile{display: none !important;}
  .tablet{display: none !important;}
}

:root{
  ---main-font--size: .75rem;
  --column-width: 0;
}

/* Color */
:root {
  --main-bg: #000000;
  --main-color: #e1e1e1; 
  --hover-color: #555555;
  --grid-color: rgb(132, 33, 138); 
}

a{
  text-decoration: none;
  font-size: var(---main-font--size);
  line-height: 1.3;
  cursor: pointer;
}

/* a:hover{
  color: #555;
} */

.article{
  margin-top: var(--frame-height);
  /* max-width: calc(var(--column-width) * 9); */
  /* font-size: 0.9rem; */
}

.article-title{
  font-size: 2rem;
  line-height: 1;
  font-family: 'Array';
}

.article img{
  display: inline-block;
}

.container {
  flex-grow: 1;
  margin: 0;
  position: relative;
  width: 100%;
  max-width: 1000px!important;
}

/* .dot::after{
  content: "";
  width: 0.5rem;
  aspect-ratio: 1/1;
  display: inline-block;
  border-radius: 100%;
  background-color: currentColor;
} */

has-text-allow-copying{
  -webkit-user-select: initial;
  user-select: initial;
}

.members{
  margin-top: 1rem;
  display: grid;
}

.member-open a{
  margin: 0;
  line-height: 2;
  font-size: 1rem;
}

.section {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  /* padding: 0 calc(1rem + var(--frame-height)); */
  padding: calc(1rem + var(--frame-height));
  &.is-fullheight{ height: calc(100 * var(--vh)); }
}

.section-body {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.links{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-size: var(---main-font--size);
  line-height: 1;
  margin-top: 1.2rem;
}

.title {
  font-size: 3.1rem;
  line-height: 1;
  font-family: 'PlusJakartaSans';
}

.title-border{
  margin-top: 1rem;
  height: 0.5px;
  background-color: var(--main-color);
  width: calc(var(--column-width) * 12);
}

.user-select{
  -webkit-user-select: text;
  user-select: text;
}

.works{
  margin-top: 1rem;
  width: calc(var(--column-width) * 12);
}

.work{ width: calc(var(--column-width) * 12); }

.work a{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 0.5px var(--main-color);
  height: calc(var(--frame-height) * 2);
  width: calc(var(--column-width) * 12);
}

.work-title{
  display: flex;
  align-items: center;
}

.work-title .title{
  line-height: 1;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "satoshi";
}

.work:first-child{ border-top: solid 0.5px var(--main-color); }

.work-sign{
  height: 1rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: var(--main-color);
  position: absolute;
  opacity: 0;
}

/* .work-hover-line{
  background-color: var(--main-color);
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 0%;
} */

.work a{
  font-size: large;
}

p{
  font-size: var(---main-font--size);
}