
body{
  background-color: var(--main-bg);
}

* {
  color: var(--main-color);
  font-family: 'Satoshi','NotoSansJP';
}

*::selection{
  background-color: var(--main-color);
  color: var(--main-bg);
}

@font-face {
  font-family: 'PlusJakartaSans';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url('../font/PlusJakartaSans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Satoshi';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url('../font/Main/Satoshi.woff2') format('woff2');
}

@font-face {
  font-family: 'NotoSansJP';
  font-weight: 400;
  src: url('../font/Main/NotoSansJP.woff2') format('woff2');
}

/* スマホ */
@media only screen and (max-width: 400px) {
  .tablet{display: none !important;}
  .desktop{display: none !important;}
}

/* タブレット */
@media only screen and (min-width: 401px) and (max-width: 1400px) {
  .mobile{display: none !important;}
  .desktop{display: none !important;}
}

/* デスクトップ */
@media only screen and (min-width: 1401px) {
  .mobile{display: none !important;}
  .tablet{display: none !important;}
}

:root{
  ---main-font--size: .75rem;
  --column-width: 0;
  --header-height: 0;
  --vh: 0;
}

/* Color */
:root {
  /* --main-bg: #000000;
  --main-color: #e1e1e1;  */
  --main-bg: #e1e1e1;
  --main-color: #000; 
  --light-color: #666;
  --hover-color: #000fff;
  --grid-color: #db00ee; 
}

a{
  font-size: var(---main-font--size);
  cursor: default;
}

.article{
  margin-top: 1rem;
  line-height: 2;
}

.container {
  flex-grow: 1;
  margin: 0;
  position: relative;
  width: 100%;
}

.header{
  padding: calc(1rem + var(--frame-height));
  padding-bottom: 0;
}

.header-content{
  text-align: right;
  height: 100%;
}

.header-links{
  display: flex;
  justify-content: right;
}

.header-link{
  margin-left: 1rem;
}

.has-text-copying{
  -webkit-user-select: initial;
  user-select: initial;
}

.members{
  margin-top: 1rem;
  display: grid;
}

.member-open a{
  line-height: 2;
  font-size: 1.5rem;
}

.section {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  padding-right: calc(var(--frame-height) + 1rem);
  padding-left: calc(var(--frame-height) + 1rem);
  padding-top: calc(var(--header-height));
  &.is-fullheight{ height: calc(100 * var(--vh)); }
}

.section-body {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.links{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-size: var(---main-font--size);
  line-height: 1;
  margin-top: 1.2rem;
}

.title {
  font-size: 3.5rem;
  line-height: 1;
  font-family: 'PlusJakartaSans';
}

.title-line{
  margin-top: 1rem;
  height: 1px;
  background-color: currentColor;
  width: calc(var(--column-width) * 12);
}

.select{
  -webkit-user-select: text;
  user-select: text;
}

.works{
  margin-top: 1rem;
  width: calc(var(--column-width) * 12);
}

.work{ 
  width: calc(var(--column-width) * 12); 
  border-bottom: solid 1px currentColor;
}

.work a{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(var(--frame-height) * 2);
  width: calc(var(--column-width) * 12);
}

.work-title{
  display: flex;
  align-items: center;
}

.work-title .title{
  line-height: 1;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "satoshi";
}

.work:first-child{ border-top: solid 1px currentColor; }

.work-sign{
  height: 1rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: currentColor;
  position: absolute;
  opacity: 0;
}

.work a{
  font-size: 1.5rem;
}

p{
  font-size: .75rem;
}